.spyproject/
**/*.pyc
**/__pycache__/_
**/*a.sh
**/a.py
**/pkg/
.coverage
.coverage.*
**/.coverage
.idea/
**/.gradle/**
**/*local.py
**/local.py
**/htmlcov/**
**/.vscode
.vscode/
venv/
jenkins/
reports/
